<section fxlayout="row wrap" fxLayoutAlign="center center">
  <mat-card fxFlex="430px" fxFlex.xs="100%">
    <mat-card-title>Edit Guitar</mat-card-title>
    <mat-card-subtitle>{{pageSubTitle}}</mat-card-subtitle>
    <form [formGroup]="editGuitarForm"
          autocomplete="off"
          novalidate
          (ngSubmit)="updateGuitar()"
          fxlayout="column wrap"
          fxlayoutalign="center center"
          fxLayoutGap="10px">
      <mat-card-content>

        <mat-form-field>
          <input matInput type="number"
                 placeholder="Price"
                 formControlName="price"
                 id="priceId">
          <mat-error *ngIf="hasError('price', 'required')">Price is required.</mat-error>
          <span matPrefix>$&nbsp;</span>
        </mat-form-field>

        <mat-form-field hintLabel="Max 100 characters">
          <textarea formControlName="description" matInput placeholder="Description"
                    maxlength="100"
          ></textarea>
          <mat-hint align="end">{{editGuitarForm.get('description').value?.length || 0}}/100</mat-hint>
          <mat-error *ngIf="hasError('description', 'required')">Description is required.</mat-error>
        </mat-form-field>

        <mat-form-field hintLabel="Range {{minNum}} to {{maxNum}}">
          <input matInput
                 type="number"
                 placeholder="Rating"
                 formControlName="rating" min="{{minNum}}" max="{{maxNum}}">
          <mat-error *ngIf="hasError('rating', 'required')">Rating is required.</mat-error>
          <mat-error *ngIf="hasError('rating', 'min')">Range is {{minNum}} to {{maxNum}}.</mat-error>
          <mat-error *ngIf="hasError('rating', 'max')">Range is {{minNum}} to {{maxNum}}.</mat-error>
        </mat-form-field>

      </mat-card-content>
      <mat-card-actions align="center">
        <button mat-button color="primary" [disabled]="!editGuitarForm.valid">
          <mat-icon>save</mat-icon> Save
        </button>
        <button mat-button color="primary" (click)="onCancel()">
          <mat-icon>cancel</mat-icon> Cancel
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</section>

