.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  margin: 1em 0;
  color: #fff;
  border: 1px solid #333;
  align-items: flex-start;
}

.guitarinfo {
  flex: 1;
  flex-grow: 1;
  border: 1px solid red;
}

.guitardata {
  flex: 3;
  flex-grow: 1;
  border: 1px solid green;
}

